# Copy this file to terraform.tfvars and update the values

aws_region = "ap-south-1"
bucket_name = "my-s3-event-bucket-unique-name"
lambda_function_name = "s3-event-processor"
ecr_repository_uri = "123456789012.dkr.ecr.ap-south-1.amazonaws.com/s3-lambda-processor"
image_tag = "latest"

common_tags = {
  Project     = "S3EventLambda"
  Environment = "production"
  ManagedBy   = "Terraform"
  Owner       = "YourName"
}